<div class="main-content">

  <p>
    Welcome!
  </p>

  <mat-divider></mat-divider>

  This project uses the GTFS dataset from the {{agency.agency_name}}<br>

  Files being used:

  <ul>
    <li>routes</li>
    <li>trips</li>
    <li>stops</li>
    <li>stop_times</li>
  </ul>

  <mat-divider></mat-divider>

  Pages:

  <ul>
      <li><a [routerLink]="['/trips']" class="page-links">Explore Lines: Check out some trips from {{agency.agency_name}}!</a></li>
      <li><a [routerLink]="['/stops']" class="page-links">Stops: Check out all stops!</a></li>
      <li><a [routerLink]="['/agency']" class="page-links">Agency: Get some details from the agency feed!</a></li>
  </ul>

  <mat-divider></mat-divider>

  About me:

</div>
