<div class="main-content">

  <p>
    Welcome!
  </p>

  <mat-divider></mat-divider>

  This project uses the GTFS dataset from the University of Michigan (UM)<br>

  Files being used:

  <ul>
    <li>routes</li>
    <li>trips</li>
    <li>stops</li>
    <li>stop_times</li>
  </ul>

  <mat-divider></mat-divider>

  Pages:

  <ul>
      <li><a [routerLink]="['/map']" class="page-links">Explore Lines: Check out some trips from UM!</a></li>
  </ul>

  <mat-divider></mat-divider>

  About me:

</div>
