<span *ngFor="let trip of trips;let i = index;">
  <input
    type="button"
    value="{{trip.trip_headsign}}"
    (click)="showTrip(trip.trip_id)" />
</span>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [zoom]="14" [latitude]="42.280635" [longitude]="-83.737273" *ngIf="tripRoute">
  <agm-marker *ngFor="let stop of tripRoute;let i = index;"
    [latitude]="stop.stopData.stop_lat"
    [longitude]="stop.stopData.stop_lon">

  <agm-info-window>
    <strong>Stop name: </strong>{{stop.stopData.stop_name}}<br>
    <strong>Time: </strong>{{stop.arrival_time}}<br>
  </agm-info-window>

  </agm-marker>

  <agm-polyline [strokeColor]="'blue'" [geodesic]="true" >
      <agm-polyline-point *ngFor="let point of tripRoute" [latitude]="point.stopData.stop_lat" [longitude]="point.stopData.stop_lon">
      </agm-polyline-point>
  </agm-polyline>


</agm-map>
